<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <title>Meu Portifólio</title>
</head>
<body>

  <i class="bi bi-list menu-mobile"></i>
    <!-- Menu navegacao  -->
    <aside id="header">
        <section class="profile">
            <img src="../static/img/perfil.jpg" alt="Foto perfil">
            <h1>Paulo Matheus</h1>
            <div class="social-links mt-4 text-center">
                <a href="#Linkedin" target="_blank">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a href="#github" target="_blank">
                    <i class="bi bi-github"></i>
                </a>
                <a href="#instagram" target="_blank">
                    <i class="bi bi-instagram"></i>
                </a>
            </div>
        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house-door"></i> Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#sobre"><i class="bi bi-file-person"></i> Sobre</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#habilidades"><i class="bi bi-person-lines-fill"></i> Habilidades</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark"></i> Currículo</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#portfolio"><i class="bi bi-collection"></i> Portfólio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#contato"><i class="bi bi-envelope"></i> Contato</a>
                </li>
              </ul>
        </nav>

    </aside>

    <main id="main">
      <!-- Página inicial -->
      <section id="inicio" class="row m-0 p-0">
        <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
          <h2 class="text-white text-shadow">Paulo Matheus</h2>
          <span id="subtitle" class="text-white text-shadow">Analista de Sistemas, Desenvolvedor Python</span>
        </div>
    
        <div class="col-md-7 d-flex justify-content-center align-items-end">
          <div id="arraste" class="d-flex align-items-center">
            <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
            <a href="#sobre">Clique para arrastar</a>
          </div>
        </div>
    
      </section>
      <!-- Página sobre -->
      <section id="sobre" class="container mt-5">
        <div class="row w-100">
          <div class="col-md-12">
            <h2 class="pt-3">Sobre</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Amet est placerat in egestas erat imperdiet sed euismod nisi. In nibh mauris cursus mattis
              molestie a iaculis.
              Facilisi cras fermentum odio eu feugiat. Consectetur adipiscing elit duis tristique sollicitudin nibh
              sit. Velit sed ullamcorper morbi tincidunt ornare. Risus commodo viverra maecenas accumsan lacus vel facilisis
              volutpat. Mauris sit amet massa vitae tortor condimentum. Lectus magna fringilla urna porttitor rhoncus.
              Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Etiam dignissim diam quis
              enim. Ipsum suspendisse ultrices gravida dictum fusce ut. Suspendisse ultrices gravida dictum fusce ut
              placerat.
              Tellus pellentesque eu tincidunt tortor aliquam nulla. Facilisi morbi tempus iaculis urna id volutpat lacus
              laoreet non. Pellentesque nec nam aliquam sem et tortor consequat. Adipiscing commodo elit at imperdiet. Orci
              dapibus ultrices in iaculis nunc sed. Volutpat diam ut venenatis tellus in metus vulputate eu.<br>
    
              Elit ut aliquam purus sit amet luctus venenatis. Mauris rhoncus aenean vel elit scelerisque mauris
              pellentesque
              pulvinar pellentesque. Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis. Et molestie ac
              feugiat
              sed lectus. At urna condimentum mattis pellentesque id nibh tortor id aliquet. Vitae suscipit tellus mauris a
              diam
              maecenas sed enim. Donec ac odio tempor orci dapibus ultrices in iaculis. Lacinia quis vel eros donec ac odio
              tempor orci. Massa eget egestas purus viverra accumsan in nisl. Quam id leo in vitae turpis. Leo vel fringilla
              est
              ullamcorper eget nulla facilisi etiam. Risus nec feugiat in fermentum posuere urna nec tincidunt.
            </p>
          </div>
        </div>
    
        <div class="row mt-4">
          <div class="col-md-4">
            <img class="img-fluid shadow" src="../static/img/Astronaut-with-laptop.jpg" alt="Foto ilustracao">
          </div>
          <div class="col-md-8">
            <h3>Desenvolvedor Python</h3>
            <p>
              Atualmente coordeno toda infraestrutura e suporte em um escritório de Advocacia, trabalhando
              principalmente como <strong><em>Analista de sistemas</em></strong> , redes , PowerShell avancado e script de
              automacao em Python.
            </p><br>
    
            <div class="row mt-3 mb-3">
              <div class="col-md-6">
                <ul class="list-group list-group-flush fs-5">
                  <li class="list-group-item">
                    Niver: <span class="fw-lighter">17 de Dezembro de 1996</span>
                  </li>
                  <li class="list-group-item">
                    Idade: <span class="fw-lighter">26 anos</span>
                  </li>
                  <li class="list-group-item">
                    Cidade: <span class="fw-lighter">RJ</span>
                  </li>
                  <li class="list-group-item">
                    Estado: <span class="fw-lighter">Rio de Janeiro</span>
                  </li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="list-group list-group-flush fs-5">
                  <li class="list-group-item">
                    Hobby: <span class="fw-lighter">Games (RPG, MMORPG, FPS)</span>
                  </li>
                  <li class="list-group-item">
                    Sites: <a href="#" target="_blank" class="fw-lighter text-decoration-none link-dark">meusite.com</a>
                  </li>
                  <li class="list-group-item">
                    Trabalho: <span class="fw-lighter">Automação de sistemas ERP</span>
                  </li>
                  <li class="list-group-item">
                    Experiência: <span class="fw-lighter">+6 anos</span>
                  </li>
                </ul>
              </div>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Amet est placerat in egestas erat imperdiet sed euismod nisi. In nibh mauris cursus mattis
              molestie
              a iaculis. Facilisi cras fermentum odio eu feugiat. Consectetur adipiscing elit duis tristique sollicitudin
              nibh
              sit. Velit sed ullamcorper morbi tincidunt ornare. Risus commodo viverra maecenas accumsan lacus vel facilisis
              volutpat. Mauris sit amet massa vitae tortor condimentum. Lectus magna fringilla urna porttitor rhoncus.
              Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Etiam dignissim diam quis
              enim. Ipsum suspendisse ultrices gravida dictum fusce ut. Suspendisse ultrices gravida dictum fusce ut
              placerat.
              Tellus pellentesque eu tincidunt tortor aliquam nulla. Facilisi morbi tempus iaculis urna id volutpat lacus
              laoreet non. Pellentesque nec nam aliquam sem et tortor consequat. Adipiscing commodo elit at imperdiet. Orci
              dapibus ultrices in iaculis nunc sed. Volutpat diam ut venenatis tellus in metus vulputate eu.<br>
            </p>
    
    
          </div>
        </div>
      </section>
      <!-- Página principal habilidades -->
      <section id="habilidades" class="section-bg mt-5">
        <div class="container pb-5">
          <h2 class="pt-5">Habilidades</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Amet est placerat in egestas erat imperdiet sed euismod nisi. In nibh mauris cursus mattis
            molestie a iaculis.
          </p>
          <!-- Habilidades Tecnicas -->
          <div class="row">
            <div class="col-md-6">
              <p class="mt-3 mb-0">HTML5</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="80" aria-valuemin="0"
                aria-valuemax="100">
                <div class="progress-bar" style="width: 80%">80%</div>
              </div>
              <p class="mt-3 mb-0">CSS3</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="60" aria-valuemin="0"
                aria-valuemax="100">
                <div class="progress-bar" style="width: 60%">60%</div>
              </div>
              <p class="mt-3 mb-0">JAVASCRIPT</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100">
                <div class="progress-bar" style="width: 50%">50%</div>
              </div>
              <p class="mt-3 mb-0">PYTHON</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="60" aria-valuemin="0"
                aria-valuemax="100">
                <div class="progress-bar" style="width: 60%">60%</div>
              </div>
              <p class="mt-3 mb-0">GIT</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="55" aria-valuemin="0"
                aria-valuemax="100">
                <div class="progress-bar" style="width: 55%">55%</div>
              </div>
              <p class="mt-3 mb-0">DEPLOY</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100">
                <div class="progress-bar" style="width: 50%">50%</div>
              </div>
            </div>
            <div class="col-md-6">
              <p class="mt-3 mb-0">FLASK</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="40" aria-valuemin="0"
                aria-valuemax="100">
                <div class="progress-bar" style="width: 40%">40%</div>
              </div>
              <p class="mt-3 mb-0">ANGULAR</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="35" aria-valuemin="0"
                aria-valuemax="100">
                <div class="progress-bar" style="width: 35%">35%</div>
              </div>
              <p class="mt-3 mb-0">SQL</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="15" aria-valuemin="0"
                aria-valuemax="100">
                <div class="progress-bar" style="width: 15%">15%</div>
              </div>
            </div>
          </div>
    
          <hr class="w-50 me-auto ms-auto">
    
          <!-- Habilidades soft skills -->
          <div class="row">
            <div class="col-md-6">
              <p class="mt-3 mb-0">Trabalho em equipe</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="95" aria-valuemin="0"
                aria-valuemax="100">
                <div class="progress-bar" style="width: 95%">95%</div>
              </div>
              <p class="mt-3 mb-0">Proatividade</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="98" aria-valuemin="0"
                aria-valuemax="100">
                <div class="progress-bar" style="width: 98%">98%</div>
              </div>
              <p class="mt-3 mb-0">Comunicação</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100">
                <div class="progress-bar" style="width: 50%">50%</div>
              </div>
              <p class="mt-3 mb-0">Perfil analítico / visão estratégica</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="60" aria-valuemin="0"
                aria-valuemax="100">
                <div class="progress-bar" style="width: 60%">60%</div>
              </div>
            </div>
    
            <div class="col-md-6">
              <p class="mt-3 mb-0">Solução de problemas</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="75" aria-valuemin="0"
                aria-valuemax="100">
                <div class="progress-bar" style="width: 75%">75%</div>
              </div>
              <p class="mt-3 mb-0">Lidar com pressão</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="66" aria-valuemin="0"
                aria-valuemax="100">
                <div class="progress-bar" style="width: 66%">66%</div>
              </div>
              <p class="mt-3 mb-0">Adaptabilidade</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="70" aria-valuemin="0"
                aria-valuemax="100">
                <div class="progress-bar" style="width: 70%">70%</div>
              </div>
              <p class="mt-3 mb-0">Flexibilidade</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="77" aria-valuemin="0"
                aria-valuemax="100">
                <div class="progress-bar" style="width: 77%">77%</div>
              </div>
            </div>
          </div>
    
        </div>
      </section>
      <!-- Página curriculo -->
      <section id="curriculo" class="mt-5 cv">
    
        <div class="container pb-5">
          <h2 class="pt-5 pb-4">Currículo</h2>
    
          <div class="row">
            <!-- secao Educação -->
            <div class="col-md-6">
              <h3 class="cv-title">Educação</h3>
    
              <div class="cv-item">
                <h4>Análise e Desenvolvimento de Sistemas</h4>
                <h5>2016 - 2019</h5>
                <p><em>Universidade Estácio de Sá</em></p>
                <p>Curso Tecnólogo voltado pra área de tecnologia da informacao.</p>
              </div>
              <div class="cv-item">
                <h4>Formação em Desenvolvimento web Front-End</h4>
                <h5>2020 - 2020</h5>
                <p><em>Caelum</em></p>
                <p>Formação Front-End Tecnologia da Informação</p>
              </div>
              <div class="cv-item">
                <h4>Certificado Profissional Suporte em TI do Google - Cresça com o Google</h4>
                <h5>2019 - 2020</h5>
                <p><em>Coursera</em></p>
                <p>Formação voltada na preparação para uma função de nível básico em suporte de TI focado em soluções de
                  problemas e
                  atendimento ao cliente, redes de computadores, sistemas operacionais, administração de Sistemas e serviços
                  de
                  infraestrutura de TI e segurança da informação.</p>
              </div>
    
            </div>
            <!-- secao profissional -->
            <div class="col-md-6">
              <h3 class="cv-title">Profissional</h3>
    
              <div class="cv-item">
                <h4>Técnico de suporte em TI N3</h4>
                <h5>2021 - atual</h5>
                <p><em>A. C. Burlamaqui Consultores S/C</em></p>
                <p>Gerenciamento da infraestrutura e sistemas, analise de seguranca em servidores de arquivos hospedados em
                  cloud; suporte remoto helpDesk. </p>
              </div>
              <div class="cv-item">
                <h4>Analista de suporte de TI N2</h4>
                <h5>2020 - 2021</h5>
                <p><em>Rede Adventista Silvestre de Saúde</em></p>
                <p> Atendimento ao usuário.
                  Monitoramento serviços e servidores;
                  Gerenciamento e monitoramento de impressoras (solicitações de chamados para suporte técnico, reposição de
                  suprimentos e peças, monitoramento utilizando a interface SyncThru web).
                  Instalação e configuração de computadores (hardware e software);
                  Analise logs de servidores de aplicação e controle chamados.
                  Acesso a servidores de diferentes funcionalidades para realização de manutenção preventiva (limpeza de
                  cache dos Tomcat/java).
                  Suporte a serviços de domínio Active Directory (AD DS) para realização de gerenciamento de usuários do
                  domínio.
                  Suporte a sistema ERP.
                  Suporte e gerenciamento a sistema de gestão em saúde (MVSoul).</p>
              </div>
    
            </div>
          </div>
    
        </div>
    
      </section>
    
      <!-- Página portfolio -->
      <section id="portfolio" class="section-bg mt-5">
        <div class="container pb-5 pt-5" data-anime="left">
    
          <h2 class="pb-4">Portfólio</h2>
    
          <div id="carouselPortfolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
    
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  <div class="col">
                    <div class="card">
                      <img src="../static/img/01.jpg" class="card-img-top" alt="Plataforma educacional">
                      <div class="card-body">
                        <h5 class="card-title">Exemplo de Projeto 01</h5>
                        <p class="card-text">Breve descricao do projeto</p>
                        <div class="d-flex justify-content-center">
                          <a href="#" target='_blank' class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                          <a href="#" target='_blank' class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <img src="../static/img/02.jpeg" class="card-img-top img-fluid w-100" alt="print do blog">
                      <div class="card-body">
                        <h5 class="card-title">Exemplo de projeto 02</h5>
                        <p class="card-text">Breve descricao do projeto</p>
                        <div class="d-flex justify-content-center">
                          <a href="#" target='_blank' class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                          <a href="#" target='_blank' class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <img src="../static/img/03.jpg" class="card-img-top img-fluid w-100" alt="print do blog">
                      <div class="card-body">
                        <h5 class="card-title">Exemplo de projeto 03</h5>
                        <p class="card-text">Breve descricao do projeto</p>
                        <div class="d-flex justify-content-center">
                          <a href="#" target='_blank' class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                          <a href="#" target='_blank' class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
    
              </div>
    
              <div class="carousel-item" data-bs-interval="2000">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  <div class="col">
                    <div class="card h-100">
                      <img src="../static/img/04.jpg" class="card-img-top img-fluid w-100" alt="print do blog">
                      <div class="card-body">
                        <h5 class="card-title">Exemplo de projeto 04</h5>
                        <p class="card-text">Breve descricao do projeto</p>
                        <div class="d-flex justify-content-center">
                          <a href="#" target='_blank' class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                          <a href="#" target='_blank' class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                        </div>
    
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card h-100">
                      <img src="../static/img/05.jpg" class="card-img-top img-fluid w-100" alt="print do blog">
                      <div class="card-body">
                        <h5 class="card-title">Exemplo de projeto 05</h5>
                        <p class="card-text">Breve descricao do projeto</p>
                        <div class="d-flex justify-content-center">
                          <a href="#" target='_blank' class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                          <a href="#" target='_blank' class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                        </div>
    
                      </div>
                    </div>
                  </div>
    
                </div>
              </div>
    
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    
        </div>
      </section>
      <!-- pagina contatos -->
      <section id="contato" class="pt-5 pb-5">
    
        <div class="container mb-5">
          <h2 class='pt-3 pb-3'>Contato</h2>
    
          <div class="row">
    
            <div class="col-md-5">
              <div class="card p-5 shadow border-0" data-anime="up">
                <div class="endereco">
                  <h4><i class="bi bi-geo-alt"></i> Localização:</h4>
                  <p>Méier, RJ</p>
                </div>
    
                <div class="email">
                  <h4><i class="bi bi-envelope"></i> Email:</h4>
                  <p>meusite@gmail.com</p>
                </div>
    
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7350.647839774858!2d-43.287384652841915!3d-22.90142033386951!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x997da53da80275%3A0x508a7ef4ac6cc05b!2sM%C3%A9ier%2C%20Rio%20de%20Janeiro%20-%20RJ!5e0!3m2!1spt-BR!2sbr!4v1700092211815!5m2!1spt-BR!2sbr"
                  width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
    
            <div class="col-md-7 mt-5 mt-md-0">
              <div class="card p-5 h-100 shadow border-0" data-anime="left">
    
                <form class="row g-3" action='/send' method="POST">
                  <div class="col-md-6">
                    <label for="nome" class="form-label">Nome:</label>
                    <input type="text" class="form-control" id="nome" name='nome' placeholder='Digite seu nome' required>
                  </div>
                  <div class="col-md-6">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="email" name='email' placeholder='Digite seu email'
                      required>
                  </div>
    
                  <div class="col-12">
                    <label for="mensagem" class="form-label">Mensagem:</label>
                    <textarea type="text" class="form-control" id="mensagem" name='mensagem' rows="10"
                      placeholder="Digite sua mensagem" required></textarea>
                  </div>
    
    
                  <div class="col-12 d-flex justify-content-center mt-4">
                    <button id='btn-enviar' type="submit" class="btn btn-primary">Enviar
                      mensagem</button>
    
                    <button id='btn-enviar-loader' class="btn btn-primary" type="button" disabled>
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      Enviando...
                    </button>
                  </div>
                </form>
    
              </div>
            </div>
    
          </div>
        </div>
    
      </section>
    
    
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <div id="alerta" class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="bi bi-check-circle-fill"></i> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
    
    </main>

<!-- Rodapé -->
<footer id="footer">
  <div class="container">
      <div class="text-center">
        <strong>Copyright &copy; Paulo Matheus. Todos os direitos reservados.</strong>
      </div>
  </div>
</footer>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>